/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: black !important;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: white;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  span{
    color: white;
  }
.card {
    margin: auto;
    text-align: center;
    border: 1px solid green !important;
    background-color: transparent !important;
    width: 70% !important;
}

.card h5,p{
  color: white ;
}


.card-img-top {
    max-height: 250px;
    object-fit: cover;
}

/* Arama kutusu yazı rengi */
input[type="search"] {
    color: #007bff; /* Mavi renkte yazı */
}

/* Placeholder yazı rengini değiştirmek için */
input[type="search"]::placeholder {
    color: white; /* Gri renkte placeholder */
}


/* Öneri listesi için stil */
#suggestions {
  max-height: 200px;
  overflow-y: auto;
  background: white !important;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

#suggestions li:hover {
  background-color: #f8f9fa;
  color: black;
}
